<div class="container">
    <div class="my-2 pt-3">
        {{#backurl}}
            <a href="{{backurl}}" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> {{#str}}
                view:portfolio:button:back, local_eportfolio{{/str}}</a>
        {{/backurl}}
    </div>

    <hr/>

    <div class="row">
        <div class="col">
            <p>
                {{#str}}view:portfolio:username, block_eportfolio{{/str}}: {{fullusername}}<br>
                {{#str}}view:portfolio:timecreated, local_eportfolio{{/str}}: {{timecreated}} |
                {{#str}}view:portfolio:timemodified, local_eportfolio{{/str}}: {{timemodified}}
            </p>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col">

            {{{h5pplayer}}}

        </div>
    </div>
</div>